<div class="contenedor">
  <h2>BIBLIOTECA ESPÍRITA</h2>
  <p>
    La Biblioteca "David Grossvater" del MOVIMIENTO DE CULTURA ESPÍRITA CIMA posee un amplio catálogo de obras espíritas de autores clásicos y contemporáneos, 
    así como un extenso repertorio de revistas espíritas provenientes de numerosos países del mundo, en diferentes idiomas, que pueden ser consultadas por miembros de la institución y por visitantes, dentro de las normas establecidas por el reglamento interno.
  </p>
  <!--<app-videos></app-videos>-->
  <libros></libros>
  <biografias></biografias>
</div>