<div>
  <div class="dropdown">
    <button class="menubtn">Crear</button>
    <div class="dropdown-content">
        <a href="#">Content</a>
        <a routerLink="/articulos">Noticias</a>
        <a href="#">Conferencias</a>
        <a href="#">Conferencistas</a>
    </div>  
  </div>
  <button>Eliminar</button>
  <button>Editar</button>
  <p>En caso de que le de click a contenido</p>
  <div style="display: grid">
    <div>
      <label>Titulo</label>
      <input>
    <div>
    </div>
      <label>Sub Titulo</label>
      <input>
    <div>
    </div>
      <label>contenido</label>
      <textarea></textarea>
    </div>
  </div>
  <br>
  <br>
  <br>
  <p>conferencistas</p>
  <div style="display: grid">
    <div>
      <label>drag picture</label>
      <div style="height: 60px, width, 60px; border: 1px solid black">
        mueva imagen
      </div>
    </div>
    <div>
      <label>Nombre de conferencista</label>
      <input>
    </div>
    <div>
      <label>Curriculum</label>
      <textarea></textarea>
    </div>
  </div>
</div>

