/*CSS de la página content*/
.container {
    display: grid;
    grid-gap: 25px;
}
div {
    text-align: justify;
    font-family:  "Montserrat", sans-serif;
    letter-spacing: 1px;
}
h2 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 35px;
    font-weight: 200;
    color: rgb(146, 225, 221);
    text-transform: uppercase;
}
h3 {
    text-transform: uppercase;   
}
button {
    cursor: pointer;
}
.noticias {
    display: grid;
    grid-template-columns: repeat(1fr)
}
.noticias p {
    font-size: 15px;
}