/*CSS de la página content*/
.container {
    display: grid;
    grid-gap: 25px;
}
div {
    text-align: justify;
    font-family:  "Montserrat", sans-serif;
    letter-spacing: 1px;
}
h2 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 32px;
    font-weight: 200;
    color: rgb(23, 60, 58);
    text-transform: uppercase;
}
h3 {
    text-transform: uppercase;   
}
button {
    cursor: pointer;
}
.noticias {
    display: grid;
    grid-template-columns: repeat(1fr)
}
.noticias p {
    font-size: 15px;
}
.conferencias {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
}
h2 {
    grid-column: span 2; 
}

.conferencistas {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 15px;
}
.conferencistas h2 {
    grid-column: span 3;
}
