<!--Contenido general de inicio-->
<div *ngFor="let pub of pubs">
    <h2>{{pub.title}}</h2>
    <div [innerHtml]="pub.news">{{pub.news}}</div>
    <div *ngIf='editable'>
        <button style="padding: 3px; background-color: darkseagreen; float: right;"><i class="material-icons" (click)="openEditDialog()">create</i></button>
        <button style="padding: 3px; background-color: indianred; float: right;"><i class="material-icons"  (click) = "delete(pub.id)">delete</i></button>
    </div>
</div>
