<div class="container">
  <div>
    <h2>Contenido</h2>
    <p>
      El Movimiento de Cultura Espírita CIMA es una Asociación Civil, sin fines de lucro, con Personalidad Jurídica, dedicada al estudio y divulgación de la Doctrina Espírita. 
      Los estudios y las prácticas del MOVIMIENTO son totalmente laicos, ajenos a cualquier clase de misticismos o ritualismos. 
      Sus principios básicos excluyen cualquier clase de dogmatismos o sectarismos religiosos o políticos.
      <br><br>
    </p>
  </div>
  <div class="noticias">
    <h2>Noticias</h2>
    <div>
      <div>
        <h3>
          Gira latinoamericana
        </h3>
        <h4>
          Pequeña descripción del artículo para llamar la atención del usuario
        </h4>
        <p>
            Del 15 al 30 de octubre de 2011<br>
            Jon Aizpúrua, Presidente del CIMA, y Dante López
        </p>
        <button>Seguir leyendo</button>
    </div>
    </div>
  </div>

  <div class="conferencias">
    <h2>Conferencias</h2>
    <div>
      <h3>EL titulo de la conferencia por aqui</h3>
      <p>Conferencista: Nombre Apellido</p>
      <p>Presentador: Name Lastname</p>
      <p>fecha: 04/05/2018</p>
      <p>hora: 13:20</p>
      <p>Lugar: En tu casa</p>
    </div>
    <div>
      <h3>EL titulo de la conferencia por aqui</h3>
      <p>Conferencista: Nombre Apellido</p>
      <p>Presentador: Name Lastname</p>
      <p>fecha: 04/05/2018</p>
      <p>hora: 13:20</p>
      <p>Lugar: En tu casa</p>
    </div>
    <div>
      <h3>EL titulo de la conferencia por aqui</h3>
      <p>Conferencista: Nombre Apellido</p>
      <p>Presentador: Name Lastname</p>
      <p>fecha: 04/05/2018</p>
      <p>hora: 13:20</p>
      <p>Lugar: En tu casa</p>
    </div>
  </div>

  <div class="conferencistas">
    <h2>Conferencistas</h2>
    <div>
      <img>
      <h4>Wilfredo Vargas</h4>
      <p>Algo de contenido</p>
      <p>Un poco mas</p>
    </div>
    <div>
      <img>
      <h4>Wilfredo Vargas</h4>
      <p>Algo de contenido</p>
      <p>Un poco mas</p>
    </div>
    <div>
      <img>
      <h4>Wilfredo Vargas</h4>
      <p>Algo de contenido</p>
      <p>Un poco mas</p>
    </div>
    <div>
      <img>
      <h4>Wilfredo Vargas</h4>
      <p>Algo de contenido</p>
      <p>Un poco mas</p>
    </div>
  </div>
</div>