<div class="container">
  <div>
    <h2>Contenido</h2>
    <p>
      El Movimiento de Cultura Espírita CIMA es una Asociación Civil, sin fines de lucro, con Personalidad Jurídica, dedicada al estudio y divulgación de la Doctrina Espírita. 
      Los estudios y las prácticas del MOVIMIENTO son totalmente laicos, ajenos a cualquier clase de misticismos o ritualismos. 
      Sus principios básicos excluyen cualquier clase de dogmatismos o sectarismos religiosos o políticos.
      <br><br>
        Objetivos Principales
        <br><br>  
        Estudiar ampliamente la Doctrina Espírita en los tres aspectos que la conforman: científico, filosófico y moral a tono con las enseñanzas del filósofo y pedagogo francés Hippolite Léon Denizard Rivail (1804-1869), universalmente conocido como ALLAN KARDEC.<br><br>
        Investigar en todas las áreas filosóficas y científicas, cuyas nociones capaciten a sus asociados para una mejor comprensión de las leyes de la naturaleza y eleven su nivel cultural.<br><br>
        Experimentar en torno al bio-magnetismo y la fenomenología psíquica, educando y desarrollando todas las formas mediúmnicas bajo normas racionales y científicas de estudio y control, practicándolas con total desinterés.<br><br>
        Contribuir a la solución de aquellos casos en que se evidencien obsesiones o alteraciones de la personalidad, de nítido origen espiritual, mediante investigaciones y estudios serios de los mismos, brindando la mayor solidaridad moral y efectivo socorro.<br>
        Impulsar la superación moral y el cultivo de los valores espirituales de sus asociados, hacia una vivencia profunda y permanente, a nivel personal, familiar y social, de los elevados principios de la Doctrina Espírita.<br><br>
        Promover la libertad de conciencia y la libre expresión del pensamiento; censurar toda restricción a los Derechos Humanos y defender el Espiritismo de los ataques injustificados de que sea públicamente objeto.<br><br>
        Defender los ideales pacifistas y humanistas, la libertad de conciencia y la libre manifestación del pensamiento, censurando toda restricción a los derechos humanos.<br><br>
        Mantener relaciones amistosas y de cooperación con todas las organizaciones espíritas del mundo y, en especial, con aquellas que se agrupan en la Confederación Espírita Panamericana (C.E.P.A.) con cuyos ideales se identifica.<br><br>
      </p>
  </div>
  <div class="noticias">
    <h2>Noticias</h2>
    <div>
      <h3>
        Gira latinoamericana
      </h3>
      <h4>
        Pequeña descripción del artículo para llamar la atención del usuario
      </h4>
      <p>
          Del 15 al 30 de octubre de 2011<br>
          Jon Aizpúrua, Presidente del CIMA, y Dante López
      </p>
      <button>Seguir leyendo</button>
    </div>
  </div>
</div>