<div>
  <h2>Cursos</h2>
  <p>
    Nuestro gran equipo constantemente ofrece cursos de educación espírita, teóricos y prácticos, 
    con la finalidad de contribuir al debido conocimiento y comprensión de los fundamentos históricos, 
    filosóficos, científicos, sociológicos y éticos de la Doctrina Espírita y sus aplicaciones en la vida cotidiana.
  </p>
  <h3> CURSO SISTEMATIZADO DE DOCTRINA ESPÍRITA NIVEL I </h3>
  <p>    
    UNIDAD  I
    Introducción. Postulados básicos de la Doctrina Espírita
    <br>
    UNIDAD  II
    Concepto espírita de Dios. Evolucionismo universal. Preexistencia y sobrevivencia del espíritu. Pluralidad de mundos habitados.
    <br>
    UNIDAD  III
    Espiritismo y espiritualismo. El pensamiento espiritualista a través de las edades. Manifestaciones a traves de las "mesas parlantes" en el siglo XIX y obra de Allan Kardec. El surgimiento del Espiritismo.
    <br>
    UNIDAD  IV
    Constitución física y espiritual del hombre. Cuerpo, espíritu y periespíritu. Propiedades del periespíritu.
    <br>
    UNIDAD  V
    La comunicación con los espíritus en la historia. Manifestaciones mediúmnicas en la antigüedad y en tiempos recientes.
    <br>
    UNIDAD  VI
    Visión espirita de la mediumnidad. ¿Qué es un médium?. Teorías sobre la mediumnidad. Animismo y mediumnidad. Diversos criterios para la clasificación de la mediumnidad. Educación moral, cultural y técnica de la mediumnidad. Propósitos y finalidades de la mediumnidad. Evaluación de las actividades mediúmnicas.
    <br>
    UNIDAD  VII
    La reencarnación. Definiciones básicas. Investigaciones sobre la reencarnación. Evidencias de la reencarnación. Aspectos correlacionados con la reencarnación.
    <br>
    UNIDAD  VIII
    La obsesión. Las enfermedades mentales. Causas de las obsesiones espirituales. Variedades y complejidad de las obsesiones. Tratamientos espírita.
    <br>    
    UNIDAD  IX
    El magnetismo personal. Aspectos históricos. Magnetismos y espiritismo. El aura. Los centros de fuerza periespirituales. Procedimientos y normas para la aplicación del magnetismo.
    <br>
    UNIDAD  X
    Espiritismo y parapsicología. Evolución histórica de la parapsicología. Clasificación de los fenómenos paranormales. Espiritismo y parapsicología.
    <br> 
    UNIDAD  XI
    El paradigma espirita. La misión de Espiritismo. Texto guía: "Los fundamentos del Espiritismo" de Jon Aizpúrua. 
    <br>
      
    <h3>CURSO PRACTICO DE DOCTRINA ESPÍRITA NIVEL II</h3>
    UNIDAD  I
    Los estados modificados de conciencia. La respiración.  Aspectos fisiológicos de la respiración. Respiración y salud física, mental y espiritual. Técnicas de respiración rítmica.
    <br>
    UNIDAD  II
    La relajación. Fundamentos clínicos de la relajación.  Ejercicios de relajación. El entrenamiento autógeno de Schultz.  La relajación progresiva de Jacobson. La sofrología y la hipnosis.
    <br>
    UNIDAD  III
    La concentración del pensamiento. Empleo del pensamiento positivo. Técnicas.  Prácticas de meditación.
    <br>
    UNIDAD  IV
    La visualización psíquica. Técnicas. Visualización del aura. Visualización de vidas pasadas. Formaciones ideoplásticas. Emisiones mentales curativas. Autopreservación psíquica.
    <br>
    UNIDAD  V
    El magnetismo personal. Condiciones para su aplicación. Técnicas de aplicación. Imposición de manos. Los pases.
    <br>
    UNIDAD  VI
    Espiritismo y tanatología. Inducciones de orden moral y espiritual en los procesos de la desencarnación.
    <br>
    UNIDAD  VII
    Preparación para la participación en las sesiones mediúmnicas. Ejercicios mediúmnicos.
  </p>
</div>
<div>
  <h2>Actividades</h2>
  <p>
    Todas estas actividades se desarrollan en nuestras sedes ubicadas en: Caracas y Maracay

    CONFERENCIAS PÚBLICAS DE ENTRADA LIBRE. 
    Su objetivo primordial es difundir los principios básicos de la Doctrina Espírita de una forma didáctica y amena, estableciendo relaciones con otros conocimientos de orden filosófico, científico y moral, así como con diversos aspectos de la realidad social y cultural del mundo contemporáneo.
    REUNIONES DE ORIENTACIÓN MORAL Y ESPIRITUAL DE ENTRADA LIBRE.
    SEMINARIOS DE FORMACIÓN ESPÍRITA, TEÓRICA Y PRÁCTICA, DIRIGIDOS A LOS MIEMBROS DE LA INSTITUCIÓN.
    SESIONES PRÁCTICAS DE MEDIUMNIDAD REALIZADAS CON LOS MIEMBROS DE LA INSTITUCIÓN.
    EDICIÓN DE LIBROS. Ediciones CIMA ha editado setenta obras de los principales autores espíritas, clásicos y contemporáneos.
    PARTICIPACIÓN EN CONGRESOS ESPÍRITAS NACIONALES E INTERNACIONALES.
    PARTICIPACIÓN EN PROGRAMAS DE RADIO Y TELEVISIÓN. 
    Asistencia social a los más necesitados.
  </p>
</div>