<div style="margin-bottom: 30px">
    <h2 style="font-size: 32px">Cursos</h2>
    <p>
        El MOVIMIENTO DE CULTURA ESPÍRITA CIMA ofrece a sus miembros en forma regular, Cursos de educación espírita, teóricos y prácticos, con la finalidad de contribuir al debido conocimiento y comprensión de los fundamentos históricos, filosóficos, científicos, sociológicos y éticos de la Doctrina Espírita y sus aplicaciones en la vida cotidiana.
    </p>
    <h2>CURSO SISTEMATIZADO DE DOCTRINA ESPÍRITA NIVEL I</h2>
    <h3>PROGRAMA</h3><br>
    <h4>UNIDAD  I</h4>
    <p>
        Introducción. Postulados básicos de la Doctrina Espírita
    </p>
    <h4>UNIDAD  II</h4>
    <p>
        Concepto espírita de Dios. Evolucionismo universal. Preexistencia y sobrevivencia del espíritu. Pluralidad de mundos habitados.
    </p>
    <h4>UNIDAD  III</h4>
    <p>
        Espiritismo y espiritualismo. El pensamiento espiritualista a través de las edades. Manifestaciones a traves de las "mesas parlantes" en el siglo XIX y obra de Allan Kardec. El surgimiento del Espiritismo.
    </p>
    <h4>UNIDAD  IV</h4>
    <p>
        Constitución física y espiritual del hombre. Cuerpo, espíritu y periespíritu. Propiedades del periespíritu.
    </p>
    <h4>UNIDAD  V</h4>
    <p>
        La comunicación con los espíritus en la historia. Manifestaciones mediúmnicas en la antigüedad y en tiempos recientes.
    </p>
    <h4>UNIDAD  VI</h4>
    <p>
        Visión espirita de la mediumnidad. ¿Qué es un médium?. Teorías sobre la mediumnidad. Animismo y mediumnidad. Diversos criterios para la clasificación de la mediumnidad. Educación moral, cultural y técnica de la mediumnidad. Propósitos y finalidades de la mediumnidad. Evaluación de las actividades mediúmnicas.
    </p>
    <h4>UNIDAD  VII</h4>
    <p>
        La reencarnación. Definiciones básicas. Investigaciones sobre la reencarnación. Evidencias de la reencarnación. Aspectos correlacionados con la reencarnación.
    </p>
    <h4>UNIDAD  VIII</h4>
    <p>
        La obsesión. Las enfermedades mentales. Causas de las obsesiones espirituales. Variedades y complejidad de las obsesiones. Tratamientos espírita.
    </p>
    <h4>UNIDAD  IX</h4>
    <p>
        El magnetismo personal. Aspectos históricos. Magnetismos y espiritismo. El aura. Los centros de fuerza periespirituales. Procedimientos y normas para la aplicación del magnetismo.
    </p>
    <h4>UNIDAD  X</h4>
    <p>
        Espiritismo y parapsicología. Evolución histórica de la parapsicología. Clasificación de los fenómenos paranormales. Espiritismo y parapsicología.
    </p>
    <h4>UNIDAD  XI</h4>
    <p>
        El paradigma espirita. La misión de Espiritismo. Texto guía: "Los fundamentos del Espiritismo" de Jon Aizpúrua.
    </p><br>

    <h2>CURSO PRACTICO DE DOCTRINA ESPÍRITA NIVEL II</h2>
    <h3>PROGRAMA</h3><br>
    <h4>UNIDAD  I</h4>
    <p>
        Los estados modificados de conciencia. La respiración.  Aspectos fisiológicos de la respiración. Respiración y salud física, mental y espiritual. Técnicas de respiración rítmica.
    </p>
    <h4>UNIDAD  II</h4>
    <p>
        La relajación. Fundamentos clínicos de la relajación.  Ejercicios de relajación. El entrenamiento autógeno de Schultz.  La relajación progresiva de Jacobson. La sofrología y la hipnosis.
    </p>
    <h4>UNIDAD  III</h4>
    <p>
        La concentración del pensamiento. Empleo del pensamiento positivo. Técnicas. Prácticas de meditación.
    </p>
    <h4>UNIDAD  IV</h4>
    <p>
        La visualización psíquica. Técnicas. Visualización del aura. Visualización de vidas pasadas. Formaciones ideoplásticas. Emisiones mentales curativas. Autopreservación psíquica.
    </p>
    <h4>UNIDAD  V</h4>
    <p>
        El magnetismo personal. Condiciones para su aplicación. Técnicas de aplicación. Imposición de manos. Los pases.
    </p>
    <h4>UNIDAD  VI</h4>
    <p>
        Espiritismo y tanatología. Inducciones de orden moral y espiritual en los procesos de la desencarnación.
    </p>
    <h4>UNIDAD  VII</h4>
    <p>
        Preparación para la participación en las sesiones mediúmnicas. Ejercicios mediúmnicos.
    </p>
</div>
<div>
    <h2 style="font-size: 32px">Actividades</h2>
    <p>
        Todas estas actividades se desarrollan en nuestras sedes ubicadas en: Caracas y Maracay
    </p>
    <ul>
        <li>CONFERENCIAS PÚBLICAS DE ENTRADA LIBRE. Su objetivo primordial es difundir los principios básicos de la Doctrina Espírita de una forma didáctica y amena, estableciendo relaciones con otros conocimientos de orden filosófico, científico y moral, así como con diversos aspectos de la realidad social y cultural del mundo contemporáneo.</li>
        <li>REUNIONES DE ORIENTACIÓN MORAL Y ESPIRITUAL DE ENTRADA LIBRE.</li>
        <li>SEMINARIOS DE FORMACIÓN ESPÍRITA, TEÓRICA Y PRÁCTICA, DIRIGIDOS A LOS MIEMBROS DE LA INSTITUCIÓN.</li>
        <li>SESIONES PRÁCTICAS DE MEDIUMNIDAD REALIZADAS CON LOS MIEMBROS DE LA INSTITUCIÓN.</li>
        <li>EDICIÓN DE LIBROS. Ediciones CIMA ha editado setenta obras de los principales autores espíritas, clásicos y contemporáneos.</li>
        <li>PARTICIPACIÓN EN CONGRESOS ESPÍRITAS NACIONALES E INTERNACIONALES.</li>
        <li>PARTICIPACIÓN EN PROGRAMAS DE RADIO Y TELEVISIÓN. </li>
        <li>Asistencia social a los más necesitados.</li>
    </ul>
</div>
