<h2>Conferencias</h2>
<div class="conferencias">
  <div>
    <h3>EL titulo de la conferencia por aqui</h3>
    <p>Conferencista: Nombre Apellido</p>
    <p>Presentador: Name Lastname</p>
    <p>fecha: 04/05/2018</p>
    <p>hora: 13:20</p>
    <p>Lugar: En tu casa</p>
  </div>
  <div>
    <h3>EL titulo de la conferencia por aqui</h3>
    <p>Conferencista: Nombre Apellido</p>
    <p>Presentador: Name Lastname</p>
    <p>fecha: 04/05/2018</p>
    <p>hora: 13:20</p>
    <p>Lugar: En tu casa</p>
  </div>
  <div>
    <h3>EL titulo de la conferencia por aqui</h3>
    <p>Conferencista: Nombre Apellido</p>
    <p>Presentador: Name Lastname</p>
    <p>fecha: 04/05/2018</p>
    <p>hora: 13:20</p>
    <p>Lugar: En tu casa</p>
  </div>
</div>