<h2>Noticias</h2>
<div class="noticias">
  <div class="articulos">
    <h3>
      Gira latinoamericana
    </h3>
    <h4>
      Pequeña descripción del artículo para llamar la atención del usuario
    </h4>
    <p>
        Del 15 al 30 de octubre de 2011<br>
        Jon Aizpúrua, Presidente del CIMA, y Dante López
    </p>
    <button>Seguir leyendo</button>
  </div>
  <div class="articulos">
    <h3>
      Gira latinoamericana
    </h3>
    <h4>
      Pequeña descripción del artículo para llamar la atención del usuario
    </h4>
    <p>
        Del 15 al 30 de octubre de 2011<br>
        Jon Aizpúrua, Presidente del CIMA, y Dante López
    </p>
    <button>Seguir leyendo</button>
  </div>
  <div class="articulos">
    <h3>
      Gira latinoamericana
    </h3>
    <h4>
      Pequeña descripción del artículo para llamar la atención del usuario
    </h4>
    <p>
        Del 15 al 30 de octubre de 2011<br>
        Jon Aizpúrua, Presidente del CIMA, y Dante López
    </p>
    <button>Seguir leyendo</button>
  </div>
  <div class="articulos">
    <h3>
      Gira latinoamericana
    </h3>
    <h4>
      Pequeña descripción del artículo para llamar la atención del usuario
    </h4>
    <p>
        Del 15 al 30 de octubre de 2011<br>
        Jon Aizpúrua, Presidente del CIMA, y Dante López
    </p>
    <button>Seguir leyendo</button>
  </div>
  <div class="articulos">
    <h3>
      Gira latinoamericana
    </h3>
    <h4>
      Pequeña descripción del artículo para llamar la atención del usuario
    </h4>
    <p>
        Del 15 al 30 de octubre de 2011<br>
        Jon Aizpúrua, Presidente del CIMA, y Dante López
    </p>
    <button>Seguir leyendo</button>
  </div>
  <div class="articulos">
    <h3>
      Gira latinoamericana
    </h3>
    <h4>
      Pequeña descripción del artículo para llamar la atención del usuario
    </h4>
    <p>
        Del 15 al 30 de octubre de 2011<br>
        Jon Aizpúrua, Presidente del CIMA, y Dante López
    </p>
    <button>Seguir leyendo</button>
  </div>
</div>
<button>más noticias</button>
