<div class="contenido">
  <div class="top">
    <img src="..\assets\libros\LB0005.jpg" width="155" height="225">
    <div class="datos">
      <h3>El Cielo y el Infierno</h3>
      <br>
      <h4>Autor: Kardec, Allan</h4>
      <h4>Categoria: Colección libros básicos</h4>
    </div>
  </div> 
  <div>
    <p>
      Todas las religiones hablan de un cielo o paraíso y, al mismo tiempo, de un infierno,
      una región de sufrimientos, de fuego eterno, de abismos insondables, mientras que, por otra parte, 
      el nihilismo materialista se opone a tales conceptos a partir de una perspectiva sombría, negadora de Dios y de lo espiritual. 
      Frente a esa contradicción dialéctica la Doctrina Espirita ofrece una síntesis superior, 
      en la cual demuestra la existencia del espíritu y su continuidad evolutiva después de la muerte, 
      respaldada en las informaciones ofrecidas por los propios espíritus. 
      "El Cielo y el Infierno" o "La Justicia Divina según el Espiritismo" es, por el orden de publicación, 
      la cuarta obra de la Codificación Espirita. En ella ALLAN KARDEC examina diferentes teorías religiosas y filosóficas 
      sobre la vida después de la muerte. En rigor histórico, se trata del primer estudio científico acerca de la situación 
      de los espíritus en el plano espiritual, basado en las descripciones hechas por ellos mismos a través de comunicaciones mediúmnicas. 
      El cielo, el infierno, el purgatorio, los ángeles y los demonios, el porvenir y la nada, 
      las penas eternas y otras nociones típicas de las doctrinas religiosas, son discutidas y refutadas con argumentos incontestables, 
      y colocadas bajo un nuevo prisma, más en sintonía con una visión lógica y racional de la vida, que permita comprender y asimilar 
      ¡a Justicia, Bondad y Sabiduría de Dios. Este inspirado libro debe ser meditado profundamente por todos quienes se interesan en obtener 
      un conocimiento verdadero acerca de la vida en todas sus dimensiones, lo cual brinda además una preparación, que de otro modo, 
      quizás sólo se lograría a expensas de profundo sufrimiento y dolor.
    </p>
  </div>
  <div>
    <div style="float: left" class="button" routerLink="/biblioteca">
      <button type="button" style="background-color: darkgray"><i class="material-icons">skip_previous</i></button>
    </div>
    <div style="float: right" class="button">
      <a href="http://movimientoespiritacima.org/descargas/libros/cielo.pdf" target="_blank">
        <button type="buttom" style="background-color: oldlace">Descargar</button>
      </a>
    </div>
  </div>
</div>