<h2>Conferencistas</h2>
<div class="contenido">
  <div class="conferencistas">
    <img src="../assets/jaizpurua.jpg" border="1" alt="ejemplo de un texto alternativo" width="100%" height="150">
    <h4>Jon Aizpúrua</h4>
    <p>email: conferencista@email.com</p>
    <p>Breve descripción de quien es y en que se destaca</p>
  </div>
  <div class="conferencistas">
    <img src="../assets/vdasilva.jpg" border="1" alt="ejemplo de un texto alternativo" width="100%" height="150">
    <h4>Victor Da Silva</h4>
    <p>email: conferencista@email.com</p>
    <p>Breve descripción de quien es y en que se destaca</p>
  </div>
  <div class="conferencistas">
    <img src="../assets/jbriseno.jpg" border="1" alt="ejemplo de un texto alternativo" width="100%" height="150">
    <h4>Jesús Briceño</h4>
    <p>email: conferencista@email.com</p>
    <p>Breve descripción de quien es y en que se destaca</p>
  </div>
  <div class="conferencistas">
    <img src="../assets/fjose.jpg" border="1" alt="ejemplo de un texto alternativo" width="100%" height="150">
    <h4>Felix Vega</h4>
    <p>Algo de contenido</p>
    <p>Breve descripción de quien es y en que se destaca</p>
  </div>
  <div class="conferencistas">
    <img src="../assets/amalave.jpg" border="1" alt="ejemplo de un texto alternativo" width="100%" height="150">
    <h4>Antulio Malavé</h4>
    <p>email: conferencista@email.com</p>
    <p>Breve descripción de quien es y en que se destaca</p>
  </div>
</div>
