<div class="">
  <form class="">
    <span class="">
      Welcome
    </span>
    <span class="">
      <i class=""></i>
    </span>
    <button (click)= loginGoogle()></button>
    <div class="" data-validate = "Valid email is: a@b.c">
      <input class="" type="text" name="email">
      <span class="" data-placeholder="Email"></span>
    </div>

    <div class="" data-validate="Enter password">
      <span class="">
        <i class=""></i>
      </span>
      <input class="" type="password" name="pass">
      <span class="" data-placeholder="Password"></span>
    </div>

    <div class="">
      <div class="">
        <div class=""></div>
        <button class="" routerLink="/admin">
          Login
        </button>
      </div>
    </div>

    <div class="">
      <span class="">
        Don’t have an account?
      </span>

      <a class="" href="#">
        Sign Up
      </a>
    </div>
  </form>
</div>
<div id="dropDownSelect1"></div>
