<div class="nav">
  <div class="nav-header">
      <div class="nav-title">
        Titulo y logo
      </div>
  </div>
  <div class="nav-mobile">
    <div class="nav-btn">
        <label for="nav-check">
        <span></span>
        <span></span>
        <span></span>
        </label>
    </div>
    <input type="checkbox" id="nav-check">
  </div>
  <div class="nav-links">
      <a routerLink="/team">Team</a>
      <a>Products</a>
      <a routerLink="/retro">Services</a>
      <a routerLink="/blog">Blog</a>
      <a routerLink="/contact">Contact</a>
  </div>
</div>
<!-- https://es.stackoverflow.com/questions/78382/como-puedo-quitar-y-poner-una-clase-con-un-toggle-usando-ionic-2 -->
