<div class="nav">
  <div class="nav-header">
      <div class="nav-title">
        Titulo y logo
      </div>
  </div>
  <div class="nav-mobile">
    <div class="nav-btn">
        <label for="nav-check" (click)="toggle()">
        <span></span>
        <span></span>
        <span></span>
        </label>
    </div>
  </div>
  <div [class.none]="visible" class="nav-links">
      <a routerLink="/team">Team</a>
      <a>Products</a>
      <a routerLink="/retro">Services</a>
      <a routerLink="/blog">Blog</a>
      <a routerLink="/contact">Contact</a>
  </div>
</div>
