<div class="contendedor">
  <div class="display">
    <img src="..\assets\biografias\001.jpg" alt="" heigth="130">
    <div>
      <h3>Alfred Russel Wallace</h3>
      <p>
        <b>Nacimiento:</b> 8 de enero 1823 Usk (Gales).<br>
        <b>Muerto:</b> 7 de noviembre de 1913 (90 años) Broadstone (Inglaterra)<br>
        <b>Nacionalidad:</b> Británico<br>
        <b>Campo:</b> Exploración, biología, biogeografía<br>
        <b>Conocido por:</b> Sus trabajos sobre selección natural y biogeografía.<br>
        <b>Sociedades:</b> Royal Geographical Society, Royal Society y Sociedad 
        Zoológica de Londres.<br>
        <b>Premios destacados:</b> Medalla Royal (1866), Medalla Copley (1908) y Orden de 
        Mérito del Reino Unido (1908)<br>
        <b>Libros:</b> «Los milagros y el moderno espiritualismo» «¿Existe otra vida?»
        «Defensa del Espiritismo»<br>
      </p>
    </div>
  </div>
  <div>
    <p>
             Sabio naturalista inglés nacido en Usk (Gales) el 8 de enero de 1823 y fallecido en Old-Orchard el 7 de noviembre de 1913. Fue presidente de la Sociedad de Antropología, miembro de la Sociedad Real de Londres, de la Sociedad Británica para el Avance de la Ciencia, de la Sociedad Dialéctica, de la Sociedad de Estudios Psicológicos, y de otras corporaciones científicas. 
        Atraído por su afición a las ciencias naturales viajó por vastas regiones de la América del Sur y el archipiélago malasio, donde recogió magníficas colecciones entomológicas y ornitológicas. 
        Se le considera el cofundador, junto con Darwin, de la moderna doctrina evolucionista. Sus propios estudios, independientes de los realizados por el ilustre autor de «El origen de las especies», le llevaron a la convicción acerca de las transformaciones incesantes que sufren los seres vivos mediante los procesos de la selección natural.<br>
        A partir de 1865 participó en sesiones donde se experimentaba con el magnetismo animal o mesmerismo y las mesas parlantes. Este fue el punto de partida de sus estudios sobre Espiritismo que prosiguió durante toda su vida. Alcanzó una amplia experiencia en el campo práctico de los fenómenos mediúmnicos, pues tuvo la oportunidad de realizar sesiones con los más conocidos médiums de su tiempo, bajo reglas, por él establecidas, de verificación y control. Así pudo presenciar variadísimas manifestaciones de efectos inteligentes y de efectos físicos, que incluían raps, materializaciones, levitaciones, aportes, clarividencias, premoniciones, escrituras automáticas, xenoglosias, etc.<br>
        Escribió en numerosas revistas sustentando los principios de la filosofía espirita que ardientemente defendía. Dio conferencias en Inglaterra y en Norteamérica, y polemizó con los adversarios del Espiritismo en la tribuna y en la prensa escrita. A ellos les aclaraba:«He sabido que algunos de mis amigos científicos creen que estoy alucinado y que las ideas expresadas en mis escritos perjudican notablemente mi reputación como naturista y filósofo.<br> 
        En la época en que empecé a estudiar los fenómenos espiritistas, era yo un filósofo escéptico y me complacía en leer las obras de Voltaire, Strauss y Vogt. Fui un materialista tan firme en mis ideas, que en aquella época me era imposible concebir la existencia del alma y no creía que hubiese en el Universo más que fuerza y materia. Pero los hechos son muy elocuentes y ellos me convencieron de la verdad del Espiritismo.
        Por inducciones fundadas en los fenómenos que he observado, llegué a estas con conclusiones.<br>
        1.- Existen seres inteligentes de diversas categorías y que están fuera de la naturaleza corporal. <br>
        2.- Aunque generalmente intangibles e invisibles para nosotros, estos seres pueden obrar sobre la materia e influir sobre nuestra alma. Estoy seguro de que he seguido un método estrictamente científico para llegar al establecimiento de estas proposiciones.<br>
        La teoría del Espiritismo no solamente nos explica todos los hechos indebidamente considerados como sobrenaturales, sino lo que es más notable, nos da a conocer la naturaleza de nuestra existencia presenté y futura, es también la única teoría que sobre este particular está de acuerdo con las ideas filosóficas y científicas modernas».En los últimos años de su vida sus ideas sobre la selección natural se fueron distanciando de las de Darwin, particularmente porque consideraba que la presencia de un factor espiritual animando la vida colocaba un dato significativo para la comprensión de los procesos evolutivos. Explicaba la evolución en su doble faz biológica y espiritual, asegurando la continuidad morfológica y psíquica.<br>
        Sus principales libros en el tema espirita fueron: «Los milagros y el moderno espiritualismo», «¿Existe otra vida?», «Defensa del Espiritismo»... <br>
        Como William Crookes y otros hombres de ciencia ingleses, Russell Wallace no vaciló en arriesgar su reputación científica en defensa de sus convicciones espiritas. Desencarnó a los 90 años, respetado en el mundo académico y científico y muy querido en el movimiento espirita mundial.
    </p>
  </div>
  <div style="float: left" class="button" routerLink="/biblioteca">
    <button type="button" style="background-color: darkgray"><i class="material-icons">skip_previous</i></button>
  </div>
</div>