<h2>Libros</h2>
<div class="biblioteca">
  <div class="libros" routerLink="/libro">
      <img src="..\assets\libros\LB0005.jpg" width="155" height="225">
  </div>
  <div class="libros">
      <img src="..\assets\libros\LB0003.jpg" width="155" height="225">
  </div>
  <div class="libros">
      <img src="..\assets\libros\LB0004.jpg" width="155" height="225">
  </div>
  <div class="libros">
      <img src="..\assets\libros\LB00010.jpg" width="155" height="225">
  </div>
  <div class="libros">
      <img src="..\assets\libros\LB00011.jpg" width="155" height="225">
  </div>
  <div class="libros">
      <img src="..\assets\libros\LB00013.jpg" width="155" height="225">
  </div>
  <div class="libros">
      <img src="..\assets\libros\LB00018.jpg" width="155" height="225">
  </div>
  <div class="libros">
      <img src="..\assets\libros\LB00020.jpg" width="155" height="225">
  </div>
</div>
