/*Template app-html responsive mobile-first mobile view*/
.container {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr;
    background-image: url("/assets/uni3.jpeg");
    /*#7c9b9c */
}
.menu {
    position: sticky;
    top: 0;
}
.content {
    color: black;
    padding: 20px 40px;
    background-color: rgba(145, 143, 143, 0.519);
    background-image: url("/assets/roses.jpg");
    margin: 20px;
    border-radius: 25px;
}
.footer {
    background-color: #212121;
    color: tan;
    /*rgba(51, 138, 158) */
    margin-bottom: 0px;
    display: grid;
    grid-column-gap: 20px;
    grid-template-rows: max-content;
}
.footer > div {
    padding: 20px 20px;
}
.footer p {
    margin: 5px 0px
}
form {
    display: grid;
    font-size: 12px;
}
label {
    font-size: 17px;
}
.forma {
    display: grid;
    grid-template-columns: 200px auto;
}

/*Propiedad del sidemenu mientras esta abierto en mayores pantallas*/
.sideMenu-desplegation {
    display: none;
}
.publicity {
    display: none;
}
.hide {
    display: none;
}

/*Display del menu en mobile size */
.nav {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /*background-color: rgba(88, 151, 204);*/
    /*rgb(210, 203, 179); rgba(51, 138, 158)*/
    background-color: tan;
    padding: 10px 0px 10px 15px;
    height: 50px;
}

.nav-header {
    grid-column: span 2;
    color: #212121;

}
.nav-title {
    font-size: 24px;
    font-weight: 600;
    padding: 14px;
    cursor: pointer;
}
.nav-mobile {
    display: none;
}
.nav-links {
    grid-column: span 10; 
    padding-left: 20px;
    display: grid;
    grid-template-columns: repeat(6, max-content);
    grid-column-gap: 25px;
    text-align: center;
    position: none;
}
.menubtn {
    font-size: 19px;
    font-weight: 500;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    border: none;
    background-color: transparent;
}


/*Big size view*/
@media (min-width: 1300px) { 
    .container {
        grid-template-rows: auto 1fr;
        font-size: 20px;
    }
    .content {
        margin: 30px 200px;
    }
    .footer {
        grid-template-columns: repeat(3, 1fr);
    }
}
/*Medium size view*/
/*Css colors ideas http://blog.visme.co/color-combinations/ */
@media (min-width: 851px) and (max-width: 1299px) { 
    .nav-header {
        grid-column: span 3; 
    }
    .nav-links {
        grid-column: span 9;
        font-size: 20px;
    }
    .content {
        margin: 30px 100px;
    }
    .footer {
        grid-template-columns: repeat(2, 1fr);
    }
}
/*Nav bar for mobile view */
@media (max-width: 850px) {
    .nav {
        grid-template-columns: repeat(2, max-content);
    }
    .nav-mobile {
        order: 1;
        grid-column: span 1;
        display: initial
    }
    .nav-header {
        order: 2;
        grid-column: span 1;
    }
    .nav-title {
        font-size: 22px;
        padding: 13px;
    }
    /*Toggle button*/
    .nav-btn {
        display: inline-block;
        position: relative;
        margin-left: 8px;
        border-radius: 10px;
        padding-top: 2px
    }
    .nav-span {
        display: grid;
        grid-gap: 2px;
        width: 30px;
        height: 30px;
        padding: 10px 10px 7px 10px;
        cursor: pointer;
    }
    /*Toggle button aimation*/
    span {
        display: block;
        height: 2px;
        background-color: white;
        border-radius: 25px;
    }
    .nav-span:hover span {
        height: 3px;
    }
    .nav-links {
        display: none;
    }

    /*Menu mobile desplegation */

    /*Estilos del menu cuando se abre y se cierra pushh off canvas con grid*/
    .sideMenu-desplegation {
        margin: auto;
        float: left;
        position: fixed;
        padding-top: 7px;
        text-align: center;
        font-size: 22px;
        background-color: tan;
        display: grid;
        grid-row-gap: 20px;
        grid-template-rows: repeat(8, max-content, 1fr);
        border: 1px solid rgb(4, 9, 17);
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        margin-top: 70px;
        width: 200px;
    }
    .menubtn {
        font-size: 22px;
        padding: 12px;
        cursor: pointer;
        border-radius: 5px;
        color: black;
        font-size: 22px;
        border: none;
        background-color: transparent;
    }
    .dropdown-content {
        position: absolute;
        margin-left: 200px;
        margin-top: -52px;
        display: none;
        min-width: 180px;
        border: 1px solid black;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
        border-radius: 10px;
        text-align: left
    }
    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }
    .dropdown:hover .dropdown-content {
        display: block;
    }
    .sideMenu-desplegation a {
        padding: 20px;
        grid-template-rows: auto;
    }
    .sideMenu-desplegation a:hover {
        border-top: 0.5px solid rgb(90, 79, 79); 
    }
        
    .sideMenu-desplegation span {
        margin: 30px 100px;
        width: 30px;
    }
    .sideMenu-desplegation div {
        cursor: pointer;
    }
    .sideMenu-desplegation div:hover {
        border-bottom:  0.5px solid rgb(90, 79, 79) ; 
    }
    .publicity {
        display: initial;
    }
    .form {
        grid-column: span 2;
        padding: 20px 30px
    }
}

.dropdown {
    position: relative;
    display: inline-block;
    border-radius: 5px
}
.dropdown-content {
    position: absolute;
    display: none;
    /*background-color: rgba(157, 189, 216, 0.897);*/
    background-color: #dcd4a9;
    min-width: 180px;
    border: 1px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 10px;
    text-align: left
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content {
    display: block;
}
a {
    font-size: 22px;
    font-weight: 500;
    overflow: hidden;
    cursor: pointer;
    border-radius: 5px;
}
a:hover {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    color: #eee;
}
.dropdown:hover .dropdown-content {
    display: block;
}
