<div class="container">

  <div [ngClass]="{'menu2': show, '': noShow}" class="menu">
    <div class="nav">
      <div class="nav-header">
          <div class="nav-title">
            Titulo y logo
          </div>
      </div>
      <div class="nav-mobile">
        <div class="nav-btn">
            <label for="nav-check" (click)="toggle()">
            <span></span>
            <span></span>
            <span></span>
            </label>
        </div>
      </div>
      <div class="nav-links">
          <a routerLink="/team">Team</a>
          <a>Products</a>
          <a routerLink="/retro">Services</a>
          <a routerLink="/blog">Blog</a>
          <a routerLink="/contact">Contact</a>
      </div>
    </div>    
  </div>
  <div [ngClass]="{'sideMenu': show, 'hide': noShow}">
      <a routerLink="/team">Team</a>
      <a>Products</a>
      <a routerLink="/retro">Services</a>
      <a routerLink="/blog">Blog</a>
      <a routerLink="/contact">Contact</a>
  </div>

  <div [ngClass]="{'left2': show}"  class="left">

  </div>
  <div [ngClass]="{'content2': show}" class="content">

  </div>
  <div class="right">

  </div>
  <div [ngClass]="{'footer2': show}" class="footer">

  </div>
</div>

