<div class="container">

  <div [ngClass]="{'menu2': show, '': noShow}" class="menu">
    <div class="nav">
      <div class="nav-header">
          <div class="nav-title">
              Espiriti Cima
          </div>
      </div>
      <div class="nav-mobile">
        <div class="nav-btn">
            <label for="nav-check" (click)="toggle()">
            <span></span>
            <span></span>
            <span></span>
            </label>
        </div>
      </div>
      <div class="nav-links">
          <a routerLink="/inicio">Inicio</a>
          <a routerLink="/conozcanos">Conozcanos</a>
          <a routerLink="/cursos">Cursos</a>
          <a routerLink="/biblioteca">Biblioteca</a>
      </div>
    </div>    
  </div>
  <div [ngClass]="{'sideMenu-desplegation': show, 'hide': noShow}">
      <div (click)="toggle()">
      <span></span>
      </div>
      <a routerLink="/team">Team</a>
      <a>Products</a>
      <a routerLink="/retro">Services</a>
      <a routerLink="/blog">Blog</a>
      <a routerLink="/contact">Contact</a>
      <div class="publicity"></div>
  </div>

  <div class="left"></div>
  <div class="content">
    <app-content></app-content>
  </div>
  <div class="right"></div>
  <div class="footer">

  </div>
</div>

