/*Template app-html responsive mobile-first mobile view*/
.container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto 1fr 100px;
    grid-gap: .5em;
}
.menu {
    grid-column: span 12;
}
.left {
    grid-column: span 12;
    border: 3px solid lightseagreen;
}
.content {
    grid-column: span 12;
    border: 3px solid lightseagreen
}
.right {
    border: 3px solid lightseagreen;
    display: none
}
.footer {
    grid-column: span 12;
    border: 3px solid lightseagreen;
}
/*Medium size view*/
@media (min-width: 820px) and (max-width: 980px) {
    .container {
        grid-template-rows: auto 1fr 100px;
    }
    .content {
        grid-column: span 9;
    }
    .left {
        display: none
    }
    .right {
        grid-column: span 3;
        display: initial;
    }
}
/*Big size view*/
@media (min-width: 980px) { 
    .container {
        grid-template-rows: auto 1fr 80px;
    }
    .menu {
        order: 1;
    }
    .left {
        order: 2;
        grid-column: span 2;
    }
    .content {
        order: 3;
        grid-column: span 8;
    }
    .right {
        order: 4;
        grid-column: span 2;
        display: initial
    }
    .footer {
        order: 5
    }
}
.prueba1 {
    color: springgreen
}
.prueba2 {
    color: salmon
}