<div class="menu-dash">
    <div>
        <button class="menubtn">Inicio</button>
    </div>
    <div>
        <button class="menubtn">Conozcanos</button>
    </div>
    <div>
        <button class="menubtn">Cursos</button>
    </div>
    <div>
        <button class="menubtn">Biblioteca</button>
    </div>
</div>
<!--Start Form-->
<form action="/my-handling-form-page" method="post">
    <div class="forms">
        <label  for="title">Titular de la Noticia</label>
        <input [(ngModel)] = "pubs.title" type="text" id="title" name = "title">
    </div>

    <div class="forms">
        <label for="mail">Dia de publicación</label>
        <input id="date" type="date">
    </div>

    <div class="forms">
        <label for="mail">Hora de publicación</label>
        <input id="time" type="time">
    </div>

    <div class="forms">
        <label for="msg">Corta reseña de la noticia</label>
        <textarea id="msg"></textarea>
        <!--<input [(ngModel)] = 'pubs.description' type="text" id="description" />-->
    </div>

    <div class="forms">
        <label  for="msg">Noticia completa</label>
        <!--<input [(ngModel)] = 'pubs.news' type="text" id="news" />-->
        <textarea id="msg"></textarea>
    </div>

    <div class="button">
        <button (click) = "createPub(pubs)" type="submit">Publicar noticia en la página</button>
    </div>
</form>
<!--End Form-->

<div class="button" routerLink="/login">   
    <button (click) = adminSignOut() type="submit"> LogOut</button>
</div>

<div class="dropdown">
    <button>Crear</button>
    <div class="dropdown-content">
        <a (click)="boton1()">contenido</a>
        <a (click)="boton2()">articulos</a>
        <a (click)="boton3()">conferencias</a>
        <a (click)="boton4()">conferencistas</a>
        <a (click)="boton5()">videos</a>
        <a (click)="boton6()">libros</a>
        <a (click)="boton7()">biografias</a>
    </div>
</div>
<button (click)="descartar()">descartar</button>

<div *ngIf = "boton === 1" >
    <articulo-dash></articulo-dash>
</div>
  