<form action="/my-handling-form-page" method="post">
  <div class="forms">
      <label [(ngModel)] = 'pubs.title' for="title">Titular de la Noticia</label>
      <input type="text" id="title" />
  </div>
  <div class="forms">
      <label for="mail">Dia de publicación</label>
      <input id="date" type="date">
  </div>
  <div class="forms">
      <label for="mail">Hora de publicación</label>
      <input id="time" type="time">
  </div>
  <div class="forms">
      <label [(ngModel)] = 'pubs.description' for="msg">Corta reseña de la noticia</label>
      <textarea id="msg"></textarea>
  </div>
  <div class="forms">
      <label  [(ngModel)] = 'pubs.news' for="msg">Noticia completa</label>
      <textarea id="msg"></textarea>
  </div>
  <div class="button">
      <button (click) = 'createPub()' type="submit">Publicar noticia en la página</button>
  </div>
</form>
<div class="button" routerLink="/login">   
  <button (click) = adminSignOut() type="submit"> LogOut</button>


</div>
