<div class="menu-dash">
    <div>
        <button class="menubtn">Inicio</button>
    </div>
    <div>
        <button class="menubtn">Conozcanos</button>
    </div>
    <div>
        <button class="menubtn">Cursos</button>
    </div>
    <div>
        <button class="menubtn">Biblioteca</button>
    </div>
</div>

<div class="dropdown">
    <button>Crear</button>
    <div class="dropdown-content">
        <a (click)="boton1()">contenido</a>
        <a (click)="boton2()">articulos</a>
        <a (click)="boton3()">conferencias</a>
        <a (click)="boton4()">conferencistas</a>
        <a (click)="boton5()">videos</a>
        <a (click)="boton6()">libros</a>
        <a (click)="boton7()">biografias</a>
    </div>
</div>
<button (click)="descartar()">descartar</button>

<div *ngIf = "boton === 1" >
    <articulo-dash></articulo-dash>
</div>
  