<h2>Biografías</h2>
<div class="biografias">
  <div class="personajes">
      <img src="..\assets\biografias\001.jpg" alt="" heigth="130">
      <div class="contenido">
        <h3>Alfred Russell Wallace</h3>
        <p>
          Sabio naturalista inglés nacido en Usk (Gales) el 8 de enero de 1823 y fallecido en Old-Orchard el 7 de noviembre de 1913. 
          Fue presidente de la Sociedad de Antropología, miembro de la Sociedad Real de Londres....
        </p>
        <a routerLink="/grafias">Ver más...</a>
      </div>
  </div>
  <div class="personajes">
      <img src="..\assets\biografias\002.jpg" alt="" heigth="130">
      <div class="contenido">
        <h3>Alfred Russell Wallace</h3>
        <p>
          Sabio naturalista inglés nacido en Usk (Gales) el 8 de enero de 1823 y fallecido en Old-Orchard el 7 de noviembre de 1913. 
          Fue presidente de la Sociedad de Antropología, miembro de la Sociedad Real de Londres....
        </p>
        <a>Ver más...</a>
      </div>
  </div>
  <div class="personajes">
      <img src="..\assets\biografias\003.jpg" alt="" heigth="130">
      <div class="contenido">
        <h3>Alfred Russell Wallace</h3>
        <p>
          Sabio naturalista inglés nacido en Usk (Gales) el 8 de enero de 1823 y fallecido en Old-Orchard el 7 de noviembre de 1913. 
          Fue presidente de la Sociedad de Antropología, miembro de la Sociedad Real de Londres....
        </p>
        <a>Ver más...</a>
      </div>
  </div>
  <div class="personajes">
      <img src="..\assets\biografias\004.jpg" alt="" heigth="130">
      <div class="contenido">
        <h3>Alfred Russell Wallace</h3>
        <p>
          Sabio naturalista inglés nacido en Usk (Gales) el 8 de enero de 1823 y fallecido en Old-Orchard el 7 de noviembre de 1913. 
          Fue presidente de la Sociedad de Antropología, miembro de la Sociedad Real de Londres....
        </p>
        <a>Ver más...</a>
      </div>
  </div>
</div>
