@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";

body {
    height: 100%;
    width: 100%;
    margin: 0;
    /*background-image: url("/assets/roses.jpg"); */
    background-repeat: repeat;
    background-color: rgba(173, 206, 223)
}
h2 {
    text-align: center;
    letter-spacing: 2px;
    font-size: 32px;
    font-weight: 200;
    color: rgb(39, 27, 27);
    text-transform: uppercase;
    margin: 20px;
    margin-bottom: 35px;
}
h3 {
    font-size: 21px;
    margin: 0;
}
h4 {
    margin: 0;
    font-size: 19px;
    font-weight: 400;
}
p {
    font-size: 0.85em;
}
button {
    cursor: pointer;
}
