<form [formGroup]="form" novalidate>
  <h1 mat-dialog-title>Agregue Contenido</h1>
  <mat-dialog-content>
      <mat-form-field>
        <input matInput placeholder="Titulo del contenido"  [(ngModel)]="pubs.title" formControlName ="title" name = "title" >
      </mat-form-field>
      <editor [(ngModel)] = "pubs.news" name = "news" formControlName ="news" ></editor>
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-button (click)="guardar(pubs)"><mat-icon>save</mat-icon>Guardar</button>
    <button mat-button type="button" mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</form>
